<footer class="bg-dark text-center text-white">
  <div class="container p-4 pb-0">
    <section>
      <div class="row d-flex justify-content-between">
        <div class="col-auto">
          <p class="pt-2">
            <span>
              <i class="bi bi-house-door-fill mr-2"></i>&nbsp;&nbsp;
              <strong>Address</strong>
            </span>
          </p>
          <p class="text">
            Vojensvej 4, 3 tv <br />
            Rodovre <br />
            Denmark
          </p>
        </div>

        <div class="col-auto">
          <p class="pt-2">
            <span>
              <i class="bi bi-telephone-fill mr-2"></i>&nbsp;&nbsp;
              <strong>Phone</strong>
            </span>
          </p>
          <p class="text">+45 71 53 23 02</p>
        </div>

        <div class="col-auto">
          <p class="pt-2">
            <span>
              <i class="bi bi-envelope-at-fill mr-2"></i>&nbsp;&nbsp;
              <strong>Email</strong>
            </span>
          </p>
          <p class="text">dtmw8z.sp@gmail.com</p>
        </div>
      </div>
    </section>
  </div>

  <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2)">
    © 2022 Susan Babu Pandey. All rights reserved.
  </div>
</footer>
