<div class="container w-100">
  <h1 class="text-center contact">Contact</h1>
  <hr />

  <h5 class="text-center sub">Get in touch to get the ball rolling</h5>

  <div class="d-none d-lg-block">
    <div class="d-flex flex-lg-row justify-content-lg-around content">
      <div class="email">
        <a class="email" href="mailto:dtmw8z.sp@gmail.com">
          <div class="circle">
            <img class="icons" src="assets/images/contact/mail.svg" />
          </div>
          <h4>Email</h4>
          <h6>dtmw8z.sp@gmail.com</h6>
        </a>
      </div>
      <div class="github">
        <a class="github" href="https://github.com/dtmw8z">
          <div class="circle">
            <img class="icons" src="assets/images/contact/github.svg" />
          </div>
          <h4>Github</h4>
          <h6>Link here</h6>
        </a>
      </div>
      <div class="instagram">
        <a class="instagram" href="https://www.instagram.com/0o_suzz_o0/">
          <div class="circle">
            <img class="icons" src="assets/images/contact/instagram.svg" />
          </div>
          <h4>Instagram</h4>
          <h6>Follow Me</h6>
        </a>
      </div>
      <div class="linkedin">
        <a class="linkedin" href="www.linkedin.com/in/susanbp">
          <div class="circle">
            <img class="icons" src="assets/images/contact/linkedin.svg" />
          </div>
          <h4>LinkedIn</h4>
          <h6>Connect Me</h6>
        </a>
      </div>
    </div>
  </div>

  <div class="d-lg-none d-none d-sm-block">
    <div class="row justify-content-sm-center align-items-center content">
      <div class="col email m-3">
        <a class="email" href="mailto:dtmw8z.sp@gmail.com">
          <div class="circle">
            <img class="icons" src="assets/images/contact/mail.svg" />
          </div>
          <h4>Email</h4>
          <h6>dtmw8z.sp@gmail.com</h6>
        </a>
      </div>
      <div class="col github m-3">
        <a class="github" href="https://github.com/dtmw8z">
          <div class="circle">
            <img class="icons" src="assets/images/contact/github.svg" />
          </div>
          <h4>Github</h4>
          <h6>Link here</h6>
        </a>
      </div>
      <div class="col instagram m-3">
        <a class="instagram" href="https://www.instagram.com/0o_suzz_o0/">
          <div class="circle">
            <img class="icons" src="assets/images/contact/instagram.svg" />
          </div>
          <h4>Instagram</h4>
          <h6>Follow Me</h6>
        </a>
      </div>
      <div class="col linkedin m-3">
        <a class="linkedin" href="www.linkedin.com/in/susanbp">
          <div class="circle">
            <img class="icons" src="assets/images/contact/linkedin.svg" />
          </div>
          <h4>LinkedIn</h4>
          <h6>Connect Me</h6>
        </a>
      </div>
    </div>
  </div>

  <div class="d-block d-sm-none">
    <div class="d-flex flex-column align-items-start justify-content-center content1">
      <div class="email m-3">
        <a class="email" href="mailto:dtmw8z.sp@gmail.com">
          <div class="circle">
            <img class="icons" src="assets/images/contact/mail.svg" />
          </div>
          <h4>Email</h4>
          <h6>dtmw8z.sp@gmail.com</h6>
        </a>
      </div>
      <div class="github m-3">
        <a class="github" href="https://github.com/dtmw8z">
          <div class="circle">
            <img class="icons" src="assets/images/contact/github.svg" />
          </div>
          <h4>Github</h4>
          <h6>Link here</h6>
        </a>
      </div>
      <div class="instagram m-3">
        <a class="instagram" href="https://www.instagram.com/0o_suzz_o0/">
          <div class="circle">
            <img class="icons" src="assets/images/contact/instagram.svg" />
          </div>
          <h4>Instagram</h4>
          <h6>Follow Me</h6>
        </a>
      </div>
      <div class="linkedin m-3">
        <a class="linkedin" href="www.linkedin.com/in/susanbp">
          <div class="circle">
            <img class="icons" src="assets/images/contact/linkedin.svg" />
          </div>
          <h4>LinkedIn</h4>
          <h6>Connect Me</h6>
        </a>
      </div>
    </div>
  </div>
</div>
