@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@400;500;600;700;800;1000&display=swap");

.skills {
  margin-top: 82px;
}

.skill-card{
  margin-top: 75px;
  border-radius: 10%;
  border: 2px solid beige;
}

.mat-card-content{
  display: inline-block;
}

.mat-card-title {
  font-size: 25px;
  font-weight: 700;
  font-family: "Nunito", sans-serif;
}

