<div class="test">
  <div class="nav-image">
    <img
      class="photo-icon float-right"
      src="assets/images/nav.png"
      alt="photo-icon"
    />
  </div>

  <div class="profile-image">
    <img
      class="profile-icon"
      src="assets/images/profile-photo.png"
      alt="profile-icon"
    />

    <div class="ellipse1"></div>
    <div class="ellipse2"></div>
  </div>

  <div class="name">
    <h1>
      Susan Babu <br />
      Pandey
    </h1>
    <h5>I am a Software Engineer</h5>
  </div>

  <div class="getcv">
    <button type="button" class="btn btn-outline-info" (click)="downloadPdf()">
      <i class="bi bi-cloud-download-fill p-2"></i><b>View CV</b>
    </button>
  </div>
</div>
