.profile-icon {
  width: 680px;
  height: 540px;
  left: 411px;
  top: 77px;
}

.header {
  margin-top: 94px;
}

.getcv {
  margin: 70px 0px 0px 100px;
}

@media screen and (max-width: 1199.98px) {
  .profile-icon {
    width: 580px;
    height: 440px;
  }
}

@media screen and (max-width: 991.98px) {
  .profile-icon {
    width: 425px;
    height: 325px;
  }

  .getcv {
    margin: 70px 0px 0px 50px;
  }
}
